
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background: #f3f5f9;
    overflow: visible;
}

* { z-index: 2; }

#particles-js
{
    /*background-image: linear-gradient(to right, rgb(203,52,181),rgb(68,166,187));*/
    background: none;
    background-size: cover;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events:none;
    z-index: -1 !important;
}



.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    padding: 30px 0px;
    background-image: linear-gradient(to right,rgba(165, 23, 186, 1),rgba(95, 23, 130, 1));
    z-index: 2;
}

.wrapper .sidebar .h2{
    color: #fff;
    text-align: center;
}

.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
    font-size: 20px;
}

.wrapper .sidebar ul li a{
    color: #fff;
    display: block;
}

 .wrapper .fa{
    padding-right: 90px;
}


.wrapper .main_content{
    width:100%;
    margin-left: 200px;
    background: #fff;    
}

.wrapper .main_content img{
    padding-left: 100px;
}

#database{
    margin-bottom: -30px;
}





.header{
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
    font-size: 18px;
    z-index: 2;
}

.info{
    margin: 20px;
    line-height: 25px;
    font-size: 16px;
    z-index: -2;
}

.home-text{
    font-size: 40;
    font-weight: 600px;
    margin-top: 30px;
}

.wrapper .fa{
    padding-right: 10px;
    color:#fff;
}

.wrapper .fa:hover{
    color: ;
}


